# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# VSCode
.vscode/

# Docker
*.db
*.sqlite3
docker-compose.override.yml

# Test & Coverage
.coverage
htmlcov/

# Logs
*.log
logs/
instruction-photos/
ecosystem.config.js
passport_duplicate_detection/*
